/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-background:#222222;
	--color_blur:rgba(40, 40, 40, 0.50);
	--color_cursor:rgba(100, 100, 100, 0);
	--font: RR_regular;
	--font_light: RR_light;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* fonts */
@font-face{
	font-family: RR_regular;
	src:url(/fonts/RivieraNights-Regular.woff);
}

@font-face {
	font-family: RR_bold;
	src: url(/fonts/RivieraNights-Bold.woff);
}

@font-face {
	font-family: RR_light;
	src: url(/fonts/RivieraNights-Light.woff);
}

/* generic things */
* {
	margin: 0;
	color: var(--color-text);
	font-family: var(--font_light);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: none;
	
}

body {
	background-color:var(--color-background);
	height: 100vh;
}



p {
	text-transform: none;
	letter-spacing: 0em;
}


a {
	font-family: var(--font);
	text-decoration: none;
	letter-spacing: 0.2em;
}

ul {
	list-style: none;
	padding: 0;
}

/* the header */
header {
	height: 12vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: fixed;
	width: 100vw;
	align-items: center;
	z-index: 20;
}

header a, header img {
	height: 6vh;
	justify-self: center;
}

header button {
	background-color: transparent;
	border: 0;
	font-size: 2vh;
	font-family: var(--font);
	font-weight: 100;
}

nav ul {
	height: 100vh;
	position: fixed;
	top: 0;
	padding-top: 40vh;
	width: 100vw;
	translate: -100vw;
}

nav ul:first-of-type li:first-of-type {
	margin-bottom: 1em;
}

nav button{
	position: fixed;
	top: 3vh;
	z-index: 10;
}

nav button:nth-of-type(2) {
	position: fixed;
	top: 40vh;
	margin-top: 1em;
	font-size: 1em;
	translate: -50vw;
}

nav ul:nth-of-type(2) {
	height: 85vh;
	top: 15vh;
	left: 5vw;
	padding: 0;
}

nav ul:nth-of-type(2) img {
	height: 100%;
}

nav ul:nth-of-type(2) li {
	width: 90vw;
	height: 50vw;
	background-size: cover;
	margin-bottom: 3vh;
}

nav ul:nth-of-type(2) a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 0 2vw 2vw 0;

}

nav ul:nth-of-type(2) li:nth-of-type(1) {
	background-image: url(/images/model1_smal.jpeg);
}

nav ul:nth-of-type(2) li:nth-of-type(2) {
	background-image: url(/images/model2_smal.jpeg);
}		

nav ul:nth-of-type(2) li:nth-of-type(3) {
	background-image: url(/images/model3_smal.jpeg);
}

nav ul:nth-of-type(2) li:nth-of-type(4) {
	background-image: url(/images/model4_smal.png);
}

nav ul:nth-of-type(2) li:nth-of-type(5) {
	background-image: url(/images/model5_smal.jpeg);
}

nav ul:nth-of-type(2) li:nth-of-type(6) {
	background-image: url(/images/model6_smal.jpeg);
}

nav ul:nth-of-type(2) li:nth-of-type(7) {
	background-image: url(/images/model7_smal.jpeg);
}

nav ul:nth-of-type(2) li:nth-of-type(8) {
	background-image: url(/images/model8_smal.jpeg);
}

/* section with articles */
section {
	overflow: hidden;
	height: 100vh;
}

article {
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article:nth-of-type(1) {
	background-image: url(/images/home_phone.jpg);
	
}

article:nth-of-type(2) {
	background-image: url(/images/spectre_phone.webp);
}

article:nth-of-type(3) {
	background-image: url(/images/phantom_phone.webp);
}

article a {
	background-color: var(--color-text);
	color: var(--color-background);
	padding: 1.2em 6em 1.2em 6em;
	border-radius: 2em;
	font-size: 0.6em;
}

/* section with the list */
section:nth-of-type(2) {
	height:fit-content;
	width: 90vw;
	margin-left: 5vw;
	margin-bottom: 4vh;
}

section:nth-of-type(2) ul{
	display: grid;
	grid-template-columns: 1fr;
}

section:nth-of-type(2) li {
	border-left: var(--color-text) 0.5px solid;
}

section:nth-of-type(2) h3{
	font-size: 1.1em;
	margin-top: 15vh;
	text-align: center;
}

section:nth-of-type(2) h4 {
	font-size: 1em;
	margin-top: 3vh;
	margin-bottom: 1.5vh;
}

section:nth-of-type(2) > p {
	margin-top: 1.5vh;
	text-align: center;
}

section:nth-of-type(2) img {
	height: 40vh;
	object-fit: cover;
	width: 100%;
	margin-left: -0.5px;
}

/* footer */
footer ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	width: 100vw;
	justify-items: center;
	
}

footer li {
	font-size: 0.6em;
	margin-bottom: 1.5vh;
	width: 40%;

}

footer img {
	height: 1em;
}


/* classlist code voor het scrollen bron: https://www.w3schools.com/cssref/css_pr_scroll-snap-type.php*/
.snap_child {
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

.snap_parent {
	scroll-snap-type: y mandatory;
	overflow: scroll;
	height: 100vh;
}

/* classlist code voor veranderen van header */
.header2 {
	background-color: var(--color_blur);
	backdrop-filter: blur(1vh);
	height: 8vh;
}

.header2 img {
	height: 4vh;
	margin-top: 1vh;
}

/* classlist code voor hamburger menu*/

.menu_open {
	translate: 0;
	overflow: scroll;
}

.blur {
	background-color: var(--color_blur);
	backdrop-filter: blur(5em);
	height: 100vh;
	width: 100vw;
}

/* cursor styling */
div {
	width: 1em;
	height: 1em;
	background-color: var(--color_cursor);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	backdrop-filter: invert(100%) grayscale(100%);
	mask: radial-gradient(0.35em at center,#0000 98%,#000);
	z-index: 200;
}


/* MEDIA QUERY */
@media (pointer: coarse){ /*checken of hegt touchscreen is https://dev.to/cooty/a-new-way-to-test-for-touch-devices-without-javascript-enter-the-pointer-media-query-2kok */
	div {
		display: none;
	}
} 

@media (min-width: 770px) {
	article:nth-of-type(1) {
		background-image: url(/images/home.jpg);
		background-position: center;
	}

	article:nth-of-type(2) {
		background-image: url(/images/spectre.webp);
		background-position: center;
	}

	article:nth-of-type(3) {
		background-image: url(/images/phantom.webp);
		background-position: center;
	}

	section:nth-of-type(2) ul{
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2vw;
	}

	footer ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1025px){
	footer ul {
		grid-template-columns: repeat(6, 1fr);
	}
}


/* .visually-hidden {
	clip: rect(0 0 0 0);    
	clip-path: inset(50%);    
	height: 1px;    
	overflow: hidden;    
	position: absolute;    
	white-space: nowrap;    
	width: 1px;
} */
